numpy
scipy
msgpack
PyYAML
python-dateutil
cerberus
pyserial
pyserial-asyncio
tqdm
openpyxl
psutil
pyproj
requests
matplotlib
xarray
sympy
control
msgpack_numpy
pandas
numba>=0.46.0
numpy-quaternion
gym
semver
markupsafe
html2text
slycot